<!-- make post here -->
<div class="container post">
  <div class="row" *ngIf="isloggedin;">
    <div class="col-sm-12 post_here">
      <!-- form here -->
      <form [formGroup]="postForm" (ngSubmit)="onSubmit()" class="">
        <div class="">
          <div class="form-group">
            <label class="col-sm-2 control-label" for="fullName">New post</label>
            <div class="col-sm-8">
              <input id="new_post" formControlName="new_post" type="text" placeholder="what's in your mind?"
                class="form-control" required>
            </div>
          </div>

          <div class="">
            <button class="btn btn-primary" type="submit" [disabled]="!postForm.valid"
              style="align-content: center">Post</button>
          </div>

        </div>
      </form>
      <!-- form ends -->
    </div>
  </div>
  <!-- make post ends here -->
  <!-- different post card here -->
  <div class="wall_style box">

    <!-- all post code here -->
    <div>
      <!-- in this div we will use the *ngFor  -->
      <div class="row" *ngFor='let el of postList;index as ind'>
        <div class="col-sm-12 ">
          <div class="card_box">
            <!-- post user name here -->
            <div class="user_name_area">
              <h5><strong>{{posterId[ind]}}</strong></h5>
            </div>
            <!-- post area here -->
            <div class="post_area_content" id='Post{{ind}}'>
              <h4>{{postsContent[ind]}}</h4>
            </div>

            <div class="post_option_area"><hr>

              <!-- post options here -->
              <!-- buttons here -->
              <!-- like button -->
              <span class="button_option_here">
                <button id="like{{ind}}" class="btn btn-primary button_styles" (click)="likes($event)"><i
                    class="fa fa-heart" aria-hidden="true"></i></button>
              </span>
              <span class="button_option_here">
                <button type="button" class="btn btn-primary button_styles" (click)="openModal($event)"
                  data-toggle="modal" data-target="#exampleModalCenter" id='totallikes{{ind}}'>
                  {{ totalLikes[ind] || 0 }}
                </button>
              </span>
              <span>
                  &nbsp;&nbsp;
                <i class="fa fa-comment btn btn-primary button_styles" id="comment{{ind}}" aria-hidden="true" (click)="commentShowHide($event)"></i>
              </span>
              <span class="button_option_here" >
                <button  *ngIf ="(commentValue[ind]); else b2" class="btn btn-primary button_styles  commentToggle" id='totalcomment{{ind}}'
                  (click)="cOpenModal($event)">{{ commentValue[ind].length || 0 }}</button>
                  <ng-template #b2>
                    <button  class="btn btn-primary button_styles  commentToggle" id='totalcomment{{ind}}'
                    (click)="cOpenModal($event)">{{  0 }}</button>
                  </ng-template>
              </span>
             
              <!-- comment area starts -->
              <div class="commentForm comment" id="commentBox{{ind}}" *ngIf="isloggedin">
                <form [formGroup]="commentForm" (ngSubmit)="comment($event)" class="" id='comment{{ind}}'>
                  <div class="">
                    <div class="form-group">
                      <label class="col-sm-2 control-label" for="fullName">New comment</label>
                      <div class="col-sm-8">
                        <input id="new_post{{ind}}" formControlName="new_comment" type="text" placeholder="comment here"
                          class="form-control" required>
                      </div>
                    </div>
                    <div class="">
                      <button class="btn btn-primary right_mobile" [disabled]="!commentForm.valid" type="submit"
                        style="align-content: center">comment it! </button>
                    </div>
                  </div>
                </form>
              </div>
              <!-- comment area ends -->
              <!-- COMMENT  & LIKE LIST START HERE-->
              <span>
                <div class="commentlist_area" id="cmod{{ind}}">
                  <form class="">
                    <h4 style="float:left;margin-left:5%;" >Comment List</h4><br><hr>
                      <div *ngFor='let el of commenterlist[ind]; index as indee' >
                        <ul><div  *ngIf=' el !=="false";else bl2 '>
                            <li class="fa fa-user" >&nbsp;&nbsp;{{el}} </li>
                            &nbsp;&nbsp;{{commentValue[ind][indee]}}
                        </div>
                        <ng-template #bl2>
                            <li  >&nbsp;&nbsp;No Comments </li>
                          </ng-template>
                        </ul>
                      </div>
                  </form>
                </div>
              </span>
              <span>
                <div class="commentlist_area" id="mod{{ind}}">
                  <form class="">
                    <h4 style="float:left;margin-left: 5%;">Liker List</h4><br><hr>
                    <div *ngFor='let el of likerlist[ind]' >
                      <div >
                        <ul>
                        
                      <li class='nobullet' *ngIf='!(el.Liker_Name); else trr' >&nbsp;&nbsp;No Likes</li>
                      <ng-template   #trr><li class="fa fa-user">&nbsp;&nbsp;{{el.Liker_Name}}</li></ng-template>
                    </ul>
                    </div>
                  </div>

                  </form>
                </div>
              </span>
              <!-- COMMENT  & LIKE LIST END HERE-->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- all post code here -->
  </div>
</div>
