<!-- make post here -->
<div class="container post">
  <div class="row" *ngIf="isloggedin;">
    <div class="col-sm-12 post_here">
      <!-- form here -->
      <form [formGroup]="postForm" (ngSubmit)="onSubmit()" class="">
        <div class="">
          <div class="form-group">
            <label class="col-sm-2 control-label" for="fullName">New post</label>
            <div class="col-sm-8">
              <input id="new_post" formControlName="new_post" type="text" placeholder="what's in your mind?"
                class="form-control" required>
            </div>
          </div>

          <div class="">
            <button class="btn btn-primary" type="submit" [disabled]="!postForm.valid"
              style="align-content: center">Post</button>
          </div>
          <!--button disabled until form is valid-->
        </div>
      </form>
      <!-- form ends -->
    </div>
  </div>
  <!-- make post ends here -->
  <!-- different post card here -->
  <div class="wall_style box">

    <!-- all post code here -->
    <div>
      <!-- in this div we will use the *ngFor  -->
      <div class="row" *ngFor='let el of postList;index as ind'>
        <div class="col-sm-12 ">
          <div class="card_box">
            <!-- post user name here -->
            <div class="user_name_area">
              <h5><strong>{{posterId[ind]}}</strong></h5>
            </div>
            <!-- post area here -->
            <div class="post_area_content" id='Post{{ind}}'>
              <h4>{{postsContent[ind]}}</h4>
            </div>

            <div class="post_option_area"><hr>

              <!-- post options here -->
              <!-- buttons here -->
              <!-- like button -->
              <span class="button_option_here">
                <button id="like{{ind}}" class="btn btn-primary button_styles" (click)="likes($event)"><i
                    class="fa fa-heart" aria-hidden="true"></i></button>
              </span>
              <span class="button_option_here">
                <button type="button" class="btn btn-primary button_styles" (click)="openModal($event)"
                  data-toggle="modal" data-target="#exampleModalCenter" id='totallikes{{ind}}'>
                  {{ totalLikes[ind] || 0 }}
                </button>
              </span>
              <!-- comment button [id]="likeId[i]"  -->
              <span>
                  &nbsp;&nbsp;
                <i class="fa fa-comment btn btn-primary button_styles" aria-hidden="true"></i>
              </span>
              <span class="button_option_here">
                <button class="btn btn-primary button_styles  commentToggle" id='totalcomment{{ind}}'
                  (click)="cOpenModal($event)">{{ totalComments[ind] || 0 }}</button>
              </span>
              <span>
                <div class="modalpopup" id="cmod{{ind}}">
                  <form class="form-container">
                    <h4 style="text-align: center;">Comment List</h4><hr>
                    <ul *ngFor='let el of commenterlist1[ind]; index as indee'>
                      <li class="fa fa-user">&nbsp;&nbsp;{{el}}</li>
                      &nbsp;&nbsp;{{commentValue[ind][indee]}}
                    </ul>
                    <button  type="button" id="modco{{ind}}" class="btn btn-danger "
                      (click)="cCloseModal($event)">Close</button>
                  </form>
                </div>
              </span>
              <span>
                <div class="modalpopup" id="mod{{ind}}">
                  <form class="form-container">
                    <h4 style="text-align: center;">Liker List</h4><hr>
                    <!-- <div *ngFor='let el of likerlist1 | async'>
                          <div *ngFor='let post of el'>  {{post}}</div>
                        </div> -->
                    <ul *ngFor='let el of likerlist1[ind]'>
                      <li class="fa fa-user">&nbsp;&nbsp;{{el}}</li>
                    </ul>
                    <button style="margin-left: 70%;" type="button" id="modc{{ind}}" class="btn btn-danger"
                      (click)="closeModal($event)">Close</button>
                  </form>
                </div>
              </span>
              <!-- comment area starts -->
              <div class="commentForm comment" *ngIf="isloggedin">
                <form [formGroup]="commentForm" (ngSubmit)="comment($event)" class="" id='comment{{ind}}'>
                  <div class="">
                    <div class="form-group">
                      <label class="col-sm-2 control-label" for="fullName">New comment</label>
                      <div class="col-sm-8">
                        <input id="new_post{{ind}}" formControlName="new_comment" type="text" placeholder="comment here"
                          class="form-control" required>
                      </div>
                    </div>
                    <div class="">
                      <button class="btn btn-primary" [disabled]="!commentForm.valid" type="submit"
                        style="align-content: center">comment it! </button>
                    </div>
                  </div>
                </form>
              </div>
              <!-- comment area ends -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- all post code here -->
  </div>
</div>