.panel-title{
    text-align: center;
}

@media (max-width: 768px) {
    .button{
        margin-left: 180px;
    }
}

@media (max-width: 2000px) {
    .button{
        margin-left: 580px;
    }
}

.alert {
    color: red;
}

.signup {
    margin-top: 5%;
}
