<!-- this is for the check is the logged in or not -->


  <!-- header code area here -->
  <div class="row">
    <div class="col-sm-12 ">
      <app-zacebuk-header></app-zacebuk-header>
    </div>
  </div>

  <!-- main body code here  -->

  <div class="full_body">
    <div class="row" >
    <div class="col-sm-12">
      <!-- alert code starts -->
      <alert class="alert"></alert>
      <!-- alert code ends here-->
      <!-- router code starts here -->
      <router-outlet></router-outlet>
      <!-- router code ends here -->
    </div>
  </div>
  
  <!-- main body code ends here -->

  <!-- footer code starts here -->

  <div class="row">
    <div class="col-sm-12">
      <app-zacebuk-footer></app-zacebuk-footer>
    </div>
  </div>

  <!-- footer code ends here -->

  </div>